body {
  background-image: url('assets/ep_naturalblack.png');
  background-repeat: repeat;
}

p {

}

.greyBack{
  background-color: rgba(61, 71, 86, 0.4);
}

.banner {
  background-color: rgba(61, 71, 86, 0.4);
  color: #ccc;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: 'Rokkitt', serif;
  font-size: 72px;
}

#banner2 {
  line-height: -30%;
  font-family: 'Satisfy', cursive;
}
