body {
  background-image: url('assets/ep_natualblack.png');
  background-repeat: repeat;
}

.banner {
  background-color: #ccc;
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 72px;
}
