body {
  background-image: url('assets/ep_naturalblack.png');
  background-repeat: repeat;
}

p {

}

.btn {
  display: block;
}

.greyBack{
  /*background-color: rgba(61, 71, 86, 0.4);*/
}

.banner {
  background-color: rgba(61, 71, 86, 0.4);
  color: #ccc;
  text-align: center;
  padding-top: 5px;
  font-family: 'Rokkitt', serif;
  font-size: 102px;
  line-height: 100%;
}

.banner2 {
  padding-bottom: 30px;
  font-family: 'Sacramento', cursive;
  font-weight: 100;
  line-height: 0;
  font-size: 130px;
  color: purple;
  margin-bottom: 30px;
}

#start {
  margin: 0 auto;
  width: 100%;
  margin-top: 200px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
  background-color: purple;
  border-width: 0;
  border-radius: 100px;
  color: grey;
  opacity: .7;
}

#start:hover {
  background-color: rgba(206, 66, 244, 0.2);
  color: white;
}

#start:active {
  background-color: rgba(206, 66, 244, 0.1);
  opacity: .4;
}

#underBtn {
  padding-top: 50px;
}

.topDialogue {
  margin-top: 80px;
}

.dialogue {
  text-align: center;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  font-size: 32px;
  margin-bottom: 15px;
}

.bottomDialogue {
  margin-bottom: 40px;
}

.answerOps {
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
  background-color: rgba(206, 66, 244, 0.3);
  border-width: 0px;
  border-radius: 100px;
  color: grey;
}

.answerOps:hover {
  font-size: 23px;
  border-width: 1px;
  border-style: solid;
  border-color: purple;
  color: white;
}

.answerOps:active {
  background-color: rgba(206, 66, 244, 0.5);
}

.footer1 {
	text-align: center;
	color: #ccc;
	padding-top: 16px;
  padding-bottom: 0px;
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
  opacity: .5;
  padding-bottom: 15px;
  font-size: 14px;
  /*background-color: rgba(61, 71, 86, 0.4);*/
  margin-bottom: 0px;

}

.navbar {
  padding-bottom: 0rem;
}

.navbar-default {
  background-color: rgba(61, 71, 86, 0.4);

}
